{% extends 'base.html' %}

{% block body_block %}
    <h1>{{ test }}</h1>


{% if reports %}

            {% csrf_token %}
    {% for report in reports %}
            File name: {{ report.name }}
            <br />
             Short Description: {{ report.description }}<br/>
            Long Description: <br/><div class="longDescription"> {{ report.longDescription }}</div><br/>
             attachment: <a href="/reports/{{ report.path }}">{{ report.path }}</a><br/>
             Private:{{ report.private }}<br/>
             Encrypted:{{ report.encrypted }}<br/>
             timeCreated: {{ report.time }}<br/>
         <a class="button" method="POST" href="/reports/edit/{{ report.name }}">Edit</a>
      {% endfor %}
    <br/>


    {% else %}
        There are no reports!

    {% endif %}


{% endblock %}