{% extends 'base.html' %}

{% block content_block %}


        <strong>Add a Report!</strong> 
        <form id="report_form" enctype="multipart/form-data"  method="post" action="/reports/add-report">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br/>
            {% endfor %}

            <input type="submit" name="submit" value="Upload Report" />
        </form>
        <br></br>


        <strong>Create a new group!</strong> <br/>
        <form id="create_group_form" method="post" action="/users/create-group">
            {% csrf_token %}
            Group name: <input type="text" name="group_name" value="" size="30" />
            <br />
            
            <input type="submit" name="submit" value="submit" />
        </form>
        <br/>

        {% if perms.users.site_manager %}
        <strong>Grant SM privileges to another user!</strong> <br/>
        <form id="new-site-manager" method="post" action="/users/new-site-manager">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="30" /> <br />
            <input type="submit" name="submit" value="submit" />
        </form>
        <br/>
        
        <strong>Suspend a user account.</strong> <br/>
        <form id="suspend-user" method="post" action="/users/suspend-user">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="30" /> <br />
            <input type="submit" name="submit" value="submit" />
        </form>
        <br/>

        <strong>Restore a user account.</strong> <br/>
        <form id="restore-user" method="post" action="/users/restore-user/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="30" /> <br />
            <input type="submit" name="submit" value="submit" />
        </form>
        <br/>
        {% endif %}

        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

{% endblock %}