{% extends 'base.html' %}

{% block css_block %}
<style>
	a.list-group-item.read { color: #222;background-color: #F3F3F3; }
</style>
{% endblock %}
	
{% block content_block %}

<h2>Compose message</h2>

<form class="form" role="form" id="message-form" method="post" action="/inbox/send">
	{% csrf_token %}
	<div class="form-group">
		<label for="recipient">To:</label>
		<input class="form-control" type="text" name="recipient" id="recipient" value="" size="30" />
	</div>
	<div class="form-group">
		<label for="body">Message:</label>
		<textarea class="form-control" name="body" id="body" value="" size="200"> </textarea>
	</div>

	<button class="btn btn-default navbar-btn" type="submit" name="submit">Send</button><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="encrypt" id="encrypt"/> Encrypt</span>
</form>

<h2>Messages</h2>

<script>

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	function getSelectedMessages() {
		var selected = [];
		$('#message-list input:checked').each(function() {
			selected.push($(this).attr('id'));
		});
		return selected;
	}

	function deleteMessages() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").remove();
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/delete',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function markMessagesAsRead() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").addClass('read')
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/mark-as-read',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function markMessagesAsUnread() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").removeClass('read')
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/mark-as-unread',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function decryptMessage(message_id) {
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/decrypt',
			data: {
				message_id: message_id,
			},
			success: function(data) {
				var body = document.getElementById(message_id+'_body')
				var toggle = document.getElementById(message_id+'_toggle')
				var encryptedMessage = body.innerHTML;
				toggle.innerHTML = 'encrypt';
				body.innerHTML = String(data['raw']).replace(/\n/g , "<br>");
				toggle.onclick = function() {
					toggle.innerHTML = 'decrypt';
					toggle.onclick = function() { decryptMessage(message_id); };
					body.innerHTML = encryptedMessage;
				};

			},
		});
	}
</script>

<!-- <div class="pull-right">
	<span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
</div> -->

<br/>

<button type="button" class="btn btn-default" onclick="markMessagesAsRead()">Mark as read</button>
<button type="button" class="btn btn-default" onclick="markMessagesAsUnread()">Mark as unread</button>
<button type="button" class="btn btn-default" onclick="deleteMessages()"><span class="glyphicon glyphicon-trash"></span></button>

<div class="list-group" id="message-list">
{% for message in user.get_received_messages|dictsortreversed:'timestamp' %}
	<a class="list-group-item{% if message.read %} read{% endif %}" style="display:table;" id="{{ message.id }}">
		<span style="min-width: 22px; display: table-cell;">
			<label>
				<input type="checkbox" id="{{ message.id }}"/>
			</label>
		</span>
		<span class="name" style="min-width: 120px; display: table-cell;">{{ message.sender }}</span>
		<span class="inline-block" style="display: table-cell; padding-right:20px; width: 100%; word-wrap: break-word; {% if message.encrypted %}word-break: break-all;{% endif %}" id="{{ message.id }}_body">{{ message.body|linebreaks }}</span>
		<span class="inline-block" style="display: table-cell;">
		{% if message.encrypted %}
			<button type="button" class="btn btn-link" onclick="decryptMessage({{ message.id }})" id="{{ message.id }}_toggle">decrypt</button>
		{% endif %}
		</span>
		<span class="badge">
			{% if message.sent_today %}
				{{ message.timestamp|date:'g:i A' }}
			{% else %}
				{{ message.timestamp|date:'m/d/y' }}
			{% endif %}
		</span>
	</a>
{% endfor %}
</div>

{% endblock %}