{% extends 'base.html' %}

{% block css_block %}
    <style>
        body {
            /* Margin bottom by footer height */
            margin-bottom: 45px;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="col-md-5">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5" style="background: #444;background: rgba(0, 0, 0, 0.35);">
        <div class="row"><h2>Sign Up</h2></div>
        <form id="user_form" method="post" action="/users/register" enctype="multipart/form-data">

            {% csrf_token %}

            {% load crispy_forms_tags %}
            {% crispy user_form %}
            {% crispy profile_form %}

            <!-- Provide a button to click to submit the form. -->
            <div class="control-group">
                <input type="submit" name="submit" value="Register" />
            </div>
        </form>

        <form class="form" role="form">
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                        <span class="fa fa-facebook"></span>Register with Facebook
                    </a>
                    <a class="btn btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                        <span class="fa fa-google"></span>Register with Google
                    </a>
                    <a class="btn btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                        <span class="fa fa-twitter"></span>Register with Twitter
                    </a>
                </div>
            </div>
        </form>
        
    </div>

{% endblock %}
