{% extends 'base.html' %}

{% block css_block %}
    <style>
        body {
            /* Margin bottom by footer height */
            margin-bottom: 45px;
        }
        .square-corners .btn-social {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            border:0px solid transparent; /* this was 1px earlier */
        }
        .cool-panel {
            background: #444;
            background: rgba(0, 0, 0, 0.35);
            color:white;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="col-md-5">
        <div class="cool-panel">
            <div class="row text-center"><h1>Welcome to SafeCollab!</h1></div>
            <div class="row text-center"><p>We hope you find our utilities useful.</p></div>
            <div class="row text-center"><p>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
            </p></div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 square-corners cool-panel">
        <div class="row text-center"><h2>Sign Up</h2></div>
        <form id="user_form" method="post" action="/users/register" enctype="multipart/form-data">

            {% csrf_token %}

            {% load crispy_forms_tags %}
            {% crispy user_form %}
            {% crispy profile_form %}

            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-default" type="submit" name="submit" value="Submit" />
            <br/><br/>

            <div class="row">
                <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                    <span class="fa fa-facebook"></span>Register with Facebook
                </a>
            </div>
            <div class="row">
                <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                    <span class="fa fa-google"></span>Register with Google
                </a>
            </div>
            <div class="row">
                <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                    <span class="fa fa-twitter"></span>Register with Twitter
                </a>
            </div>
        </form>

    </div>

{% endblock %}
