{% extends 'base.html' %}

{% block body_block %}
    <h1>Edit</h1>


{% if reports %}
Owner of the File : {{reports.creator}}<br/>

    <form id="edit_report" enctype="multipart/form-data"  method="post" action="/reports/edit/{{ reports.name }}/">
            {% csrf_token %}
            File name: <input type="text" name="name" value="{{ reports.name }}" size="30" />

            <br />
            Keyword: <input type="text" name="keyword" value="{{ reports.name }}" size="30" /><br/>
            Short Description: <input type="text" name="description" value="{{ reports.description }}" size="30" /><br/>
            Long Description: <input type="text" name="longDescription" value="{{ reports.longDescription }}" size="30" /><br/>
            Upload:<input multiple type="file" name="path" size="30"/>
	    {% for file in files %}
	    {{file.path}}<a method="POST" href="/reports/delete_file/{{file.path}}/{{reports.name}}">Delete</a><br/>
	    {% endfor %}<br/>
	    
            {% if reports.private %}
	    Private:<input type="checkbox" name="private" checked="{{ reports.private }}"/>
	    {% else %}
            Private:<input type="checkbox" name="private"/>
            {% endif %}
	    
            {% if is_owner %}
            Folder:  <select name="folder">
            {% if folders %}
            {% for folder in folders %}
            <option value="{{ folder.name }}">{{  folder.name}}</option>
	    {% endfor %}
            {% endif %}
            </select>
	    
            {% endif %}
               {% if reports.encrypted %}

             Encrypted:<input type="checkbox" name="encrypted" checked="{{ reports.encrypted }}"/><br/>

              {% else %}
              Encrypted:<input type="checkbox" name="encrypted"/><br/>

              {% endif %}

              <input type="submit" name="submit" value="Upload Report" />
        </form>

    <br/>


    {% else %}
        There are no reports!

{% endif %}


{% endblock %}
