{% extends 'base.html' %}

{% block css_block %}

	<style>
		.favorite-button {
			padding: 0;
			border: none;
			background: none;
		}
		.star-column {
			width: 1px;
		}
	</style>

{% endblock %}

{% block content_block %}

<div class="text-center col-md-offset-3" style="position: absolute; z-index: 1000; left: 0; right: 0;"> <h3 style="display: inline; margin-top: 0;">Groups</h3> </div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createGroupModal"><span class="glyphicon glyphicon-plus"></span> New group</button><br/><br/>

<div class="modal" id="createGroupModal" role="dialog" tabindex="-1" aria-labelledby="createGroup" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<form class="form" role="form" id="create_group_form" method="post" action="{% url 'users:create-group' %}">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Create new group</h4>
			</div>

			<div class="modal-body">
				{% csrf_token %}
				<div class="form-group">
					<label for="recipient">Name:</label>
					<input class="form-control" type="text" name="group_name" value="" size="30" />
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="submit" name="submit">Submit</button>
			</div>
				
			</form>

		</div>
	</div>
</div>



<ul class="nav nav-pills nav-stacked col-md-3">
<li class="active"><a data-toggle="pill" href="#my-groups">My groups</a></li>
{% if perms.users.site_manager %}<li><a data-toggle="pill" href="#other-groups">Other groups</a></li>{% endif %}
<li><a data-toggle="pill" href="#favorites">Favorites</a></li>
</ul>

<div class="tab-content col-md-9">

	<div id="my-groups" class="tab-pane fade in active">

		{% if user.groups.all %} <!-- User has groups -->
		<table data-toggle="table">
			<thead>
				<tr>
					<th class="star-column"></th>
					<th data-sortable="true">Name</th>
					<th data-sortable="true">Population</th>
				</tr>
			</thead>
			<tbody data-link="row" class="rowlink">
				{% for group in user.groups.all|dictsort:'name' %}
					<tr>
						<td class="rowlink-skip">
							{% if group in favorite_groups %}
							<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="unfavorite({{ group.id }});">
								<span class="glyphicon glyphicon-star" id="{{ group.id }}_favorite-star" style="color:gold;"></span>
							</button>
							{% else %}
							<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="favorite({{ group.id }});">
								<span class="glyphicon glyphicon-star-empty" id="{{ group.id }}_favorite-star" ></span>
							</button>
							{% endif %}
						</td>
						<td><a href="{% url 'group-summary' group_id=group.id %}"></a>{{ group.name }}</td>
						<td>{{ group.user_set.all|length }}</td>
					</tr>
		    	{% endfor %}
			</tbody>
		</table>
		{% else %}
		You are not in any groups.
		{% endif %}

	</div>

	{% if perms.users.site_manager %}
	<div id="other-groups" class="tab-pane fade">

		{% if other_groups %} <!-- There are other groups -->
		<table data-toggle="table">
			<thead>
				<tr>
					<th class="star-column"></th>
					<th data-sortable="true">Name</th>
					<th data-sortable="true">Population</th>
				</tr>
			</thead>
			<tbody data-link="row" class="rowlink">
				{% for group in other_groups|dictsort:'name' %}
					<tr>
						<td class="rowlink-skip">
							{% if group in favorite_groups %}
							<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="unfavorite({{ group.id }});">
								<span class="glyphicon glyphicon-star" id="{{ group.id }}_favorite-star" style="color:gold;"></span>
							</button>
							{% else %}
							<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="favorite({{ group.id }});">
								<span class="glyphicon glyphicon-star-empty" id="{{ group.id }}_favorite-star" ></span>
							</button>
							{% endif %}
						</td>
						<td><a href="{% url 'group-summary' group_id=group.id %}"></a>{{ group.name }}</td>
						<td>{{ group.user_set.all|length }}</td>
					</tr>
		    	{% endfor %}
			</tbody>
		</table>
		{% else %}
		There are no other groups.
		{% endif %}

	</div>
	{% endif %}

	<div id="favorites" class="tab-pane fade">
		<div id="favorites-table-container">
			{% if favorite_groups %} <!-- User has favorite groups -->
			<table data-toggle="table">
				<thead>
					<tr>
						<th class="star-column"></th>
						<th data-sortable="true">Name</th>
						<th data-sortable="true">Population</th>
					</tr>
				</thead>
				<tbody data-link="row" class="rowlink">
					{% for group in favorite_groups|dictsort:'name' %}
						<tr>
							<td class="rowlink-skip">
								{% if group in favorite_groups %}
								<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="unfavorite({{ group.id }});">
									<span class="glyphicon glyphicon-star" id="{{ group.id }}_favorite-star" style="color:gold;"></span>
								</button>
								{% else %}
								<button class="favorite-button" id="{{ group.id }}_favorite-button" onclick="favorite({{ group.id }});">
									<span class="glyphicon glyphicon-star-empty" id="{{ group.id }}_favorite-star" ></span>
								</button>
								{% endif %}
							</td>
							<td><a href="{% url 'group-summary' group_id=group.id %}"></a>{{ group.name }}</td>
							<td>{{ group.user_set.all|length }}</td>
						</tr>
			    	{% endfor %}
				</tbody>
			</table>
			{% else %}
			You have no favorites.
			{% endif %}
		</div>
	</div>
</div>



{% endblock %}



{% block script_block %}

<script>

	function favorite(group_id) {
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/users/favorite-group',
			data: {
				group_id: group_id,
			},
			success: function(data) {
				$('*[id*=' + group_id + '_favorite-button]').each( function() {
					$(this).on('click', function() {
						unfavorite(group_id);
					});
				});

				$('*[id*=' + group_id + '_favorite-star]').each( function() {
					$(this).removeClass('glyphicon-star-empty');
					$(this).addClass('glyphicon-star');
					$(this).css('color','gold');
				});

				$('#favorites-table-container').html(data);
			},
		});
	}

	function unfavorite(group_id) {
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/users/unfavorite-group',
			data: {
				group_id: group_id,
			},
			success: function(data) {
				$('*[id*=' + group_id + '_favorite-button]').each( function() {
					$(this).on('click', function() {
						favorite(group_id);
					});
				});

				$('*[id*=' + group_id + '_favorite-star]').each( function() {
					$(this).removeClass('glyphicon-star');
					$(this).addClass('glyphicon-star-empty');
					$(this).css('color','');
				});

				$('#favorites-table-container').html(data);
			},
		});
	}

</script>

{% endblock %}



