{% extends 'base.html' %}

{% block css_block %}
<style>
	a.list-group-item.read { color: #222;background-color: #F3F3F3; }
	textarea { resize: vertical; }
</style>
{% endblock %}
	
{% block content_block %}

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#composeMessageModal"><span class="glyphicon glyphicon-plus"></span> Compose</button> <br/><br/>

<div class="modal fade" id="composeMessageModal" role="dialog" tabindex="-1" aria-labelledby="composeMessage" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<form class="form" role="form" id="message-form" method="post" action="{% url 'inbox:send' %}">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Compose message</h4>
			</div>

			<div class="modal-body">
				{% csrf_token %}
				<div class="form-group">
					<label for="recipient">To:</label>
					<input class="form-control" type="text" name="recipient" id="recipient" value="" size="30" />
				</div>
				<div class="form-group">
					<label for="body">Message:</label>
					<textarea class="form-control" name="body" id="body" value="" size="200"> </textarea>
				</div>
				<div class="form-group">
					<input type="checkbox" name="encrypt" id="encrypt"/> <label for="encrypt">Encrypt</label>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="submit" name="submit">Send</button>
			</div>
				
			</form>

		</div>
	</div>
</div>

<!-- <div class="pull-right">
	<span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
</div> -->

{% with messages=user.get_received_messages|dictsortreversed:'timestamp' %}
<button type="button" class="btn btn-default" onclick="markMessagesAsRead()">Mark as read</button>
<button type="button" class="btn btn-default" onclick="markMessagesAsUnread()">Mark as unread</button>
<button type="button" class="btn btn-default" onclick="deleteMessages()"><span class="glyphicon glyphicon-trash"></span></button>

<div class="list-group" id="message-list">

{% if messages %}
{% for message in messages %}
	<a class="list-group-item{% if message.read %} read{% endif %}" style="display:table;" id="{{ message.id }}">
		<span style="min-width: 22px; display: table-cell;">
			<label>
				<input type="checkbox" id="{{ message.id }}"/>
			</label>
		</span>
		<span class="name" style="min-width: 120px; display: table-cell;">{{ message.sender }}</span>
		<span class="inline-block" style="display: table-cell; padding-right:20px; width: 100%; word-wrap: break-word; {% if message.encrypted %}word-break: break-all;{% endif %}" id="{{ message.id }}_body">{{ message.body|linebreaks }}</span>
		<span class="inline-block" style="display: table-cell;">
		{% if message.encrypted %}
			<button type="button" class="btn btn-link" onclick="decryptMessage({{ message.id }})" id="{{ message.id }}_toggle">decrypt</button>
		{% endif %}
		</span>
		<span class="badge">
			{% if message.sent_today %}
				{{ message.timestamp|date:'g:i A' }}
			{% else %}
				{{ message.timestamp|date:'m/d/y' }}
			{% endif %}
		</span>
	</a>
{% endfor %}

{% else %}
<a class="list-group-item">You have no messages.</a>
{% endif %}

</div>

{% endwith %}

{% endblock %}

{% block script_block %}

<script>

	function getSelectedMessages() {
		var selected = [];
		$('#message-list input:checked').each(function() {
			selected.push($(this).attr('id'));
		});
		return selected;
	}

	function deleteMessages() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").remove();
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/delete',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function markMessagesAsRead() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").addClass('read')
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/mark-as-read',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function markMessagesAsUnread() {
		var selected = getSelectedMessages();
		for (i=0; i < selected.length; i++) {
			var id = selected[i];
			$("a[id='"+id+"']").removeClass('read')
		}
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/mark-as-unread',
			data: {
				message_ids: selected,
			},
			success: function(data) {
				document.getElementById('new-message-count').innerHTML = data['message_count'];
			},
		});
	}

	function decryptMessage(message_id) {
		$.ajax({
			headers: { "X-CSRFToken": getCookie('csrftoken') },
			type: 'POST',
			url: '/inbox/decrypt',
			data: {
				message_id: message_id,
			},
			success: function(data) {
				var body = document.getElementById(message_id+'_body')
				var toggle = document.getElementById(message_id+'_toggle')
				var encryptedMessage = body.innerHTML;
				toggle.innerHTML = 'encrypt';
				body.innerHTML = String(data['raw']).replace(/\n/g , "<br>");
				toggle.onclick = function() {
					toggle.innerHTML = 'decrypt';
					toggle.onclick = function() { decryptMessage(message_id); };
					body.innerHTML = encryptedMessage;
				};

			},
		});
	}
</script>
{% endblock %}