{% extends 'base.html' %}

{% block body_block %}

    <div class="col-md-5">
        <div class="cool-panel">
            <div class="row text-center"><h1>Welcome to SafeCollab!</h1></div>
            <div class="row text-center"><p>We hope you find our utilities useful.</p></div>
            <div class="row text-center"><p>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
                <span class="glyphicon glyphicon-star" style="font-size: 40px; color:gold;"></span>
            </p></div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 square-corners cool-panel">
        <div class="row text-center"><h2>Sign Up</h2></div>
        <form id="user_form" method="post" action="/users/register" enctype="multipart/form-data">

            {% csrf_token %}

            {% with form=user_form %}
                {% if form.non_field_errors %}
                    <ul style="list-style-type: none;">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors" class="field-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            {% with form=profile_form %}
                {% if form.non_field_errors %}
                    <ul style="list-style-type: none;">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors" class="field-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            <!-- Provide a button to click to submit the form. -->
            <div class="form-group">
                <input class="btn btn-default" type="submit" name="submit" value="Submit" />
            </div>

            <div class="row">
                <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                    <span class="fa fa-facebook"></span>Register with Facebook
                </a>
            </div>
            <div class="row">
                <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                    <span class="fa fa-google"></span>Register with Google
                </a>
            </div>
            <div class="row">
                <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                    <span class="fa fa-twitter"></span>Register with Twitter
                </a>
            </div>
        </form>

    </div>

{% endblock %}
