{% extends 'base.html' %}

{% block css_block %}
	<style>
        .btn-social {
        	width: 140px;
        }
        #social-accounts form {
        	display: inline;
        }
        .prof-pic-container {
			background: #000;
			color: #fff;
			width: 100px;
			height: 100px;

			padding: 0;
			margin: 0 auto;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.prof-pic {
			max-width: 100px;
			max-height: 100px;
		}
	</style>
{% endblock %}

{% block content_block %}

{% url 'users:view-profile' user_id=user.id as current_user_profile_url %}
{% if current_user_profile_url in request.path %}

{% if editing %}
<script type="text/javascript">
    $(window).load(function () {
        $('#editProfileModal').modal('show');
    });
</script>
{% endif %}

<button type="button" class="btn btn-primary btn-sm" style="position: absolute;" data-toggle="modal" data-target="#editProfileModal">Edit profile</button>

<div class="modal" id="editProfileModal" role="dialog" tabindex="-1" aria-labelledby="editProfile" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<form id="user_form" method="post" action="{% url 'users:edit-profile' %}" enctype="multipart/form-data">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Edit profile</h4>
				</div>

				<div class="modal-body">

					{% csrf_token %}

            {% with form=user_form %}
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            {% with form=profile_form %}
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

					<!-- Provide a button to click to submit the form. -->
					<input class="btn btn-default" type="submit" name="submit" value="Submit" />
				</div>
			</form>

			<div class="modal-footer">
				{% load backend_utils %}
				<div class="social text-center" id="social-accounts">
				    {% for sublist in available_backends|social_backends %}
				            {% for name, backend in sublist %}
				                {% associated backend %}
				                {% if association %}
				                    <form class="disconnect-form" id="{{ name }}-disconnect" action="{% url 'social:disconnect_individual' backend=association.provider association_id=association.id %}?next={% url 'users:view-profile-editing' user_id=user.id editing='editing' %}" method="post">{% csrf_token %}
				                        <button class="btn btn-social btn-{{ name|icon_name }}" name="{{ backend|backend_class }}" type="submit">
				                            <i class="fa fa-{{ name|icon_name }}"></i>
				                            Disconnect
				                        </button>
				                    </form>
				                {% else %}
				                    <a class="btn btn-default btn-social" id="{{ name }}-button" name="{{ backend|backend_class }}" href="{% url 'social:begin' backend=name %}?next={% url 'users:view-profile-editing' user_id=user.id editing='editing' %}">
					                    <i class="fa fa-{{ name|icon_name }}"></i>
					                    Connect
				                    </a>
				                {% endif %}
				            {% endfor %}
				    {% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>

{% endif %}

{% if perms.users.site_manager and disp_user.id != user.id %}
<div class="dropdown" style="position: absolute; right: 0;">
	<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Actions <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="actions">
		{% if disp_user_is_sm %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'users:revoke-sm' user_id=disp_user.id %}">Revoke SM status</a></li>
		{% else %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'users:grant-sm' user_id=disp_user.id %}">Grant SM status</a></li>
		{% endif %}
		{% if disp_user.is_active %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'users:suspend-user' user_id=disp_user.id %}">Suspend user account</a></li>
		{% else %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'users:restore-user' user_id=disp_user.id %}">Activate user account</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}

{% if disp_user.user_profile.picture %}
<div class="row prof-pic-container">
		<img class="img-responsive prof-pic" src="{{ disp_user.user_profile.picture.url }}" />
</div>
{% else %}
<div class="text-center">
	<span class="glyphicon glyphicon-user" style="font-size: 100px;"></span>
</div>
{% endif %}

<div class="row text-center">
	{% if disp_user_is_sm %}
	<span class="label label-primary role-badge" data-toggle="tooltip" title="Site Manager"><span class="glyphicon glyphicon glyphicon-king"></span></span>
	{% else %}
	<span class="label label-default role-badge" data-toggle="tooltip" title="Regular User"><span class="glyphicon glyphicon-pawn"></span></span>
	{% endif %}
	{% if disp_user.is_active %}
	<span class="label label-success role-badge" data-toggle="tooltip" title="Active"><span class="glyphicon glyphicon-ok-sign"></span></span>
	{% else %}
	<span class="label label-danger role-badge" data-toggle="tooltip" title="Suspended"><span class="glyphicon glyphicon-warning-sign"></span></span>
	{% endif %}
</div>
<div class="row text-center">
	<h4><strong>{{ disp_user.first_name }} {{ disp_user.last_name }}</strong></h4>
</div>
<div class="row text-center">
	<label class="control-label" for="username">Username:</label> <span id="username">{{ disp_user.username }}</span>
</div>
<div class="row text-center">
	<label class="control-label" for="email">Email:</label> <a href="mailto:{{ disp_user.email }}"><span id="email">{{ disp_user.email }}</span></a>
</div>
{% if disp_user.user_profile.website %}
<div class="row text-center">
	<label class="control-label" for="website">Website:</label> <a href="{{ disp_user.user_profile.website }}"><span id="website">{{ disp_user.user_profile.website }}</span></a>
</div>
{% endif %}

{% endblock %}

<!-- script must be placed in script_block order to put below JQuery import -->
{% block script_block %}
{% endblock %}