{% extends 'base.html' %}

{% block body_block %}


    <div class="col-md-5 cool-panel">
        <div class="row text-center"><h4>Associate {{ backend|title }} Account</h4></div>
        <form role="form" method="post" action="/users/associate-social">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <button class="btn btn-default navbar-btn" type="submit" name="submit">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="col-md-2">
    </div>

    <div class="col-md-5 square-corners cool-panel">
        <div class="row text-center"><h4>Sign Up with {{ backend|title }} Account</h4></div>
        <form id="user_form" method="post" action="/users/register-social" enctype="multipart/form-data">

            {% csrf_token %}

            {% with form=user_form %}
                {% if form.non_field_errors %}
                    <ul style="list-style-type: none;">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors" class="field-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            {% with form=profile_form %}
                {% if form.non_field_errors %}
                    <ul style="list-style-type: none;">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form-group" id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <div id="{{ field.auto_id }}_errors" class="field-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            <!-- Provide a button to click to submit the form. -->
            <div class="form-group">
                <input class="btn btn-default" type="submit" name="submit" value="Submit" />
            </div>

        </form>

    </div>

{% endblock %}
