{% extends 'base.html' %}

{% block content_block %}
<h1>{{ test }}</h1>
 
    <form method="GET" action="">

    <select name="type">
        <option value="name">name</option>
        <option value="description">description</option>
    </select>
    <input type="text" name="q" size="50" placeholder="What are you looking for?" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search">
    </form>
   
    <form  method="POST" action="/reports/add_folder">
      {% csrf_token %}
     <input type="text" name="folderName" size="50" placeholder="Create a new folder?"/>
    <input type="submit" value="Create New Folder">
    </form>

    <br>
    <br>
    {% if reports %}

    <table border="1" style="width:100%">
    <tr style="background-color:grey"><td>Report Name</td><td>Report Description</td></tr>
            {% for report in reports %}
            <tr><td><a href="/reports/detail/{{ report.name }}">{{ report.name }}</a></td><td>{{ report.description }}</td></tr>

            {% endfor %}
      </table>


    {% else %}
        There are no reports!
    
    {% endif %}

    {% if folders %}

    <table border="1" style="width:100%">
      <tr style="background-color:grey"><td>Folder Name</td></tr>
      
            {% for folder in folders %}
            <tr><td><a href="/reports/{{ folder.name }}">{{ folder.name }}</a></td></tr>

            {% endfor %}
      </table>


    {% else %}
        There are no reports!
    
    {% endif %}

    

    

{% endblock %}
