{% extends 'base.html' %}

{% block content_block %}

<div class="text-center col-md-offset-3" style="position: absolute; left: 0; right: 0;"> <h3 style="display: inline; margin-top: 0;">Reports and Folders</h3> </div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createGroupReport"><span class="glyphicon glyphicon-plus"></span> New Report</button><br/><br/>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createFolder"><span class="glyphicon glyphicon-plus"></span> New Folder</button><br/><br/>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="createGroupReport" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new report</h4>
        </div>
        <div class="modal-body">
          <form id="report_form" enctype="multipart/form-data"  method="post" action="{% url 'reports:add-report' %}">
          {% csrf_token %}
          File name: <input type="text" name="name" value="" size="30" />

          <br />
              Keyword: <input type="text" name="keyword" value="" size="30" /><br/>
          Short Description: <input type="text" name="description" value="" size="30" /><br/>
          Long Description: <input type="text" name="longDescription" value="" size="30" /><br/>
          Folder:  <select name="type">
          {% if folders %}
          <option value=""></option>
          {% for folder in folders %}
          <option value="{{ folder.name }}">{{  folder.name}}</option>

          {% endfor %}
          {% endif %}
          </select>
          Upload:<input multiple type="file" name="path" size="30"/><br/>
          Private:<input type="checkbox" name="private" />
          Encrypted:<input type="checkbox" name="encrypted" /><br/>
      
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" name="submit">Submit</button></button>
        </div>
          </form>
      </div>
      
    </div>
  </div>
  
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="createFolder" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a Folder</h4>
        </div>
        <div class="modal-body">
          <form  method="POST" action="/reports/add_folder">
      {% csrf_token %}
     <input type="text" name="folderName" size="50" placeholder="Create a new folder?"/>
      
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" name="submit">Submit</button></button>
        </div>
          </form>
      </div>
      
    </div>
  </div>
  
</div>

 
 <!--   <form method="GET" action="">

    <select name="type">
        <option value="name">name</option>
        <option value="description">description</option>
    </select>
    <input type="text" name="q" size="50" placeholder="What are you looking for?" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search">
    </form>
   
    <form  method="POST" action="/reports/add_folder">
      {% csrf_token %}
     <input type="text" name="folderName" size="50" placeholder="Create a new folder?"/>
    <input type="submit" value="Create New Folder">
    </form>
    -->

    <br>
    <br>
    {% if reports %}

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Report name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
            {% for report in reports %}
            <tr><td><a href="/reports/detail/{{ report.name }}">{{ report.name }}</a></td><td>{{ report.description }}</td></tr>
            {% endfor %}
    </tbody>
  </table>
   
    {% endif %}

    {% if folders %}

        <table class="table table-hover">
    <thead>
      <tr>
        <th>Folder name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
            {% for folder in folders %}
            <tr><td><a href="/reports/{{ folder.name }}">{{ folder.name }}</a></td><td><form action="/reports/delete_folder/{{ folder.id }}"><input type="submit"  align ="center" value="Delete Folder"></form></td></tr>
            {% endfor %}
    </tbody>
  </table>

    {% else %}
        There are no folders!
    
    {% endif %}

    

    

{% endblock %}
